/* settings go here */
:root {

	--bright-menu-color: 226, 175, 255;
	--darker-menu-color: #F067FF;
	/*--darker-menu-color: #9400ff;*/

	/* This is the base color the gradient is applied on top of for the navbar and tabs. */
	--dark-tab-background-color: 17, 17, 17;

	/* The main colors which change the theme. */
	--theme-gradient-full-opacity: linear-gradient(90deg, rgba(252,0,140,1) 0%, rgba(255,0,249,1) 30%, rgba(106,0,255,1) 100%);
	--theme-gradient-thirty-opacity: linear-gradient(90deg, rgb(252,0,140,0.3) 0%, rgb(255,0,249,0.3) 30%, rgb(106,0,255,0.3) 100%);
	--theme-gradient-seventy-opacity: linear-gradient(90deg, rgba(252,0,140,0.7) 0%, rgba(255,0,249,0.7) 30%, rgba(106,0,255,0.7) 100%);
}



/* from https://stackoverflow.com/questions/48936774/how-can-i-increase-the-width-of-firefoxs-quantum-v-57-url-bar-and-make-the*/
/* makes the urlbar suck up more empty space */
#urlbar-container {
    flex: 0 0 70% !important; /*sucks up some percentage of the row */
}
#urlbar-background,#urlbar{ 
    align-items: left;
    align-self: left;
}
#urlbar{
/*	min-width: 74vw !important;
	margin-left: min(0px, calc(-22vw + 350px))*/
	margin-right:0px;
}


/*#urlbar-container{position: absolute; width:100vw;padding-left:50vw;pointer-events: none}
#urlbar{margin-right:0px;margin-left:-30vw;min-width:0px;width:60vw;pointer-events: auto}*/


/* from https://www.userchrome.org/what-is-userchrome-css.html */
/* Remove items from context menus */

/* Email Image... */
#context-sendimage, 

/* Set Image as Desktop Background... (and preceding separator) */
#context-sep-setbackground, #context-setDesktopBackground,
/* Save to Pocket */
#context-savelinktopocket, 
/* Send link to another firefox logged in device */
#context-sendlinktodevice,
/* Inspect Accessibility Properties */
#context-inspect-a11y
{
  display: none !important;
}


/*in tab overflow bar*/
#tabs-newtab-button, 
#tabs-newtab-button .toolbarbutton-icon, 
#TabsToolbar, #new-tab-button, 
#scrollbutton-up .toolbarbutton-icon, 
#scrollbutton-down .toolbarbutton-icon, 
#alltabs-button {
	fill: var(--darker-menu-color) !important;
	align-self: right;
}

/*https://www.userchrome.org/firefox-89-styling-proton-ui.html#compactmode*/
/*** Proton Tabs Tweaks ***/

.tab-background {
	border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important; /* Connected */
	margin-block: 1px 0 !important; /* Connected */
}
#scrollbutton-up, #scrollbutton-down { /* 6/10/2021 */
	border-top-width: 0px !important;
	border-bottom-width: 0 !important;
}

/* this one is overridden by multiselect color */
.tab-background:is([selected], [multiselected]), 
[brighttext="true"] .tab-background:is([selected], [multiselected]),
.tab-background:is([multiselected])
:-moz-lwtheme {
	--lwt-tabs-border-color: rgba(0, 0, 0, 0.0) !important;
	--fancy-border-color: 240, 103, 255;

	border-top: 1px solid rgb(var(--fancy-border-color)) !important;
	border-left: 1px solid rgb(var(--fancy-border-color)) !important;
	border-right: 1px solid rgb(var(--fancy-border-color)) !important;

}

/* Container color bar visibility */
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
	margin: 0px max(calc(var(--user-tab-rounding) - 3px), 0px) !important;
}

/* Override Normal Density height to Compact Density height only for tabs */
#TabsToolbar, #tabbrowser-tabs {
	--tab-min-height: 29px !important;
}
/* Tweak for covering a line at the bottom of the active tab on some themes 8/11/2021 */
#main-window[sizemode="normal"] #toolbar-menubar[autohide="true"] + #TabsToolbar, 
#main-window[sizemode="normal"] #toolbar-menubar[autohide="true"] + #TabsToolbar #tabbrowser-tabs {
	--tab-min-height: 30px !important;
}
#scrollbutton-up,
#scrollbutton-down {
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
}







/* grey #42414D */
/** Fix tab icon (sound icon was replacing site icon) */
/* Always show tab icon */
.tab-icon-image {
	opacity: 1 !important;
}
/* Move tab sound icon to the top left */
.tab-icon-overlay {
	/* top - left */
	top: -6px !important;
	inset-inline-end: 6px !important;
	width: 14px !important;
	height: 14px !important;
	padding: 1px !important;
	/* background */
	stroke: var(--tab-icon-overlay-stroke, black) !important;
	background: var(--tab-icon-overlay-stroke, black) !important;
	fill-opacity: 0.6 !important;
	/* icon color */
	color: #00DDFF !important;
	/* circle */
	border-radius: 10px !important;
}
.tab-icon-overlay:hover {
	/* background */
	fill-opacity: 1 !important;
}

/* Remove tab close button. Appear on hover with smooth transitions */
.tabbrowser-tab:not([pinned]) .tab-close-button {
	display: -moz-box !important;
	opacity: 0;
	visibility: collapse !important;
	transition: all 200ms ease-in-out, fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;

}

.tabbrowser-tab:not([pinned]):hover	.tab-close-button {
	opacity: 1;
	visibility: visible !important;
	transition: all 200ms ease-in-out, fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;	
}
.tabbrowser-tab:not([pinned]):hover	.tab-close-button:hover {
	fill: #FF0000 !important;
	transition: all 200ms ease-in-out, fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;	
}

/* Fix mask size */
.tabbrowser-tab {
	--tab-label-mask-size: 1em !important;
}

.close-icon{
	transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;	
}
.close-icon:hover {
	fill: #FF0000 !important;	
}

.tab-background{
	border-radius: 4px !important;
	border: transparent !important;
}
.tab-background[selected="true"] {
	background: var(--theme-gradient-thirty-opacity) no-repeat !important; 
} 

/*container indicator bar to the sides of the tab */
#tabbrowser-tabs .tab-context-line {
	display: none;
}

.tabbrowser-tab[class*="identity-color-"] .tab-background {
	border-right: solid 2px var(--identity-icon-color) !important;
	border-left: solid 2px var(--identity-icon-color) !important;
	transition: all .15s ease-in-out !important;
}

.tabbrowser-tab[class*="identity-color-"] .tab-background[selected="true"] {
	border-right: solid 4px var(--identity-icon-color) !important;
	border-left: solid 4px var(--identity-icon-color) !important;
}

/*container tab label color when selected */
.tabbrowser-tab[class*="identity-color-"] .tab-label {
	color: var(--identity-tab-color) !important;
}

/*unread tabs -use tab flag extension*/
.tabbrowser-tab[titlechanged]:not([selected="true"])	.tab-label{font-style: italic !important;color: #00DDFF !important;}

.tabbrowser-tab[busy]:not([selected="true"]) .tab-label{font-style: italic !important;color: #00DDFF !important;}



menupopup > menuitem,
menupopup > menu
{
	border-radius: 4px !important;
	margin-left: 4px !important;
	margin-right: 4px !important;
}


/** Menu top items border and padding */
/* context menu top left button padding */
menugroup > menuitem:first-child {	
	border-radius: 4px !important;
	padding-left: 4px !important;
}
/* context menu top right button padding */
menugroup > menuitem:last-child {	
	border-radius: 4px !important;
	padding-right: 4px !important;
}
/* context menu top buttons radius */
menugroup > menuitem {
	border-radius: 4px !important;
}
menugroup > menuitem > hbox > image {	
	border-radius: 4px !important;
}
/* for menu item with submenu	*/
.panel-header > .subviewbutton {
	border-radius: 4px !important;
}

/* context menu padding */
menupopup > menuitem,
menupopup > menu {
	padding-block: 2px !important;
	min-height: unset !important;
}
/* menu item padding */
toolbarbutton {
	--arrowpanel-menuitem-padding: 2px 8px;
	
}

/*autocomplete dropdown rounded style*/
#PopupAutoComplete > richlistbox > richlistitem {
	border-radius: 4px !important;
	
}

.autocomplete-richlistbox {
	margin: 4px !important;
	color: var(--arrowpanel-color, Field) !important; 
}


panel {
	--panel-border-radius: 4px !important;
	--panel-border-color: var(--arrowpanel-border-color) !important;
	--panel-color: var(--arrowpanel-color, Field) !important;			

	/*changing panel bgcolor causes issues with middle mouse click scroll icon*/
}

/* #main-menubar > menu	{border-radius: 4px !important} */

/*toolbar hamburger menu gradient color*/
#appMenu-fxa-separator
{
	border-image: 1 1 1 1 var(--theme-gradient-full-opacity) !important;
}

/*link hover tooltip custom*/
#statuspanel-label{
	-moz-appearance: none !important;
	color: rgba(bright-menu-color, 0.8) !important;
	background-color: #101010 !important;
	border: 1px solid transparent !important;
	border-image: 0 0 1 0 var(--theme-gradient-full-opacity) !important;
	
}

/*tooltip dark theme applied in js via autoconfig. Hits all tooltips*/

/* purple var(--darker-menu-color) */
/* tab loading icon color */
.tab-throbber::before {
	fill: #00DDFF !important;
	opacity: 1 !important;
}


:root { --toolbar-field-focus-border-color: transparent !important; /*remove default focus ring of url bar */
	--organizer-outline-color: transparent !important; /*remove default focus ring of search box in library window */
	--in-content-page-background: #101010 !important;
}	

/* dont change this one (it keeps the bright navbar on-expand outline */
#urlbar-background,#urlbar:not([focused=true]) { 
	border-radius: 4px !important;
	border: transparent !important;
}

/*adds the little coloured strip below the urlbar*/
#urlbar:not([focused=true]) {
	background-image: var(--theme-gradient-full-opacity) !important;
	background-size: auto 4px !important;
	background-repeat: no-repeat !important;
	background-position: bottom !important;
}

#urlbar[focused=true]{
	background-image: var(--theme-gradient-seventy-opacity) !important;
}

/* this one also adds the bright navbar surrounding*/
#urlbar[focused=true] #urlbar-background{ 
	border-radius: 4px !important;
	border: transparent !important;
	margin-bottom: 2px !important;
	margin-top: 2px !important;
	margin-left: 2px !important;
	margin-right: 40px !important;
	background-color: rgba(var(--dark-tab-background-color), 0.7) !important;
}

#urlbar[open=true]{
	background-image: var(--theme-gradient-seventy-opacity) !important;
}

#urlbar[open=true] #urlbar-background{
	border-radius: 4px !important;
	border: transparent !important;
	margin-bottom: 2px !important;
	margin-top: 2px !important;
	margin-left: 2px !important;
	margin-right: 2px !important;
	background-color: rgba(var(--dark-tab-background-color), 0.7) !important;
}

/* remove drag space before 1st tab */
:root[sizemode="normal"] .titlebar-spacer[type=pre-tabs] {

	display: none !important;
	
}


/*Context menu colors match arrowpanel colors*/
menupopup {
	--panel-color: var(--arrowpanel-color, Field) !important;																												 
	--panel-border-color: var(--arrowpanel-border-color,Field)!important;																						
	--panel-background: var(--arrowpanel-background, Field) !important;																							 
	--menuitem-hover-background-color: var(--panel-item-hover-bgcolor, Field) !important;	 
	--menuitem-disabled-hover-background-color: var(--panel-item-hover-bgcolor, Field) !important;										
	--menu-color:var(--arrowpanel-color,Field) !important;																													 
	--menu-disabled-color:color-mix(in srgb, var(--arrowpanel-background,Field) 65%, var(--lwt-tab-text,Field))!important; 
	--menu-border-color: var(--panel-separator-color,Field) !important;
} 
#textbox-contextmenu{
	--panel-color: rgba(bright-menu-color, 0.8) !important;
	--panel-border-color: rgb(48, 48, 48) !important;
	--panel-background: #101010 !important;
	--menuitem-hover-background-color: #313131 !important;	 
	--menuitem-disabled-hover-background-color: #1f1f1f !important;										
	--menu-color: rgba(bright-menu-color, 0.8) !important;																													 
	--menu-disabled-color:color-mix(in srgb, #101010 65%, rgb(bright-menu-color))!important; 
	--menu-border-color: var(--panel-separator-color,Field) !important;
}

/*fix background of some popup menus like in pdf viewer zoom menu*/	
menu:not([_moz-menuactive="true"]), menuitem:not([_moz-menuactive="true"]){

	--content-select-background-image: none !important;
}

/*fixes menu color for websites*/
#ContentSelectDropdown > menupopup {
	background-color: transparent !important;
	--content-select-background-image: none !important;
	--panel-background: var(--arrowpanel-background, Field) !important; 
	--panel-color: var(--arrowpanel-color, Field) !important; 
} 


#openHandler {
	-moz-appearance: none !important;
	background: #101010 !important;
	color: rgba(bright-menu-color, 0.8) !important;
	border-radius: 4px !important;
	transition: background 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;

}

#openHandler:hover{
	background: #313131 !important;

}

#openHandlerBox{
	-moz-appearance: none !important;
	background: #101010 !important;
	color: rgba(bright-menu-color, 0.8) !important;
	border: 1px solid rgb(48, 48, 48) !important;
	border-radius: 4px !important;
}



@-moz-document url("chrome://global/content/appPicker.xhtml") {

	#app-picker-listbox {
		border-radius: 4px !important;
	}

	#app-picker-listbox > richlistitem {
		border-radius: 4px !important;
	}

	richlistbox {
		border-radius: 4px !important;
	}

}

/* in customize Nightly page */
#customization-done-button:is(:active, :hover):not([disabled]) {
	background-color: color-mix(in srgb, black 10%, -moz-accent-color) !important;
}

#customization-done-button {
	border-radius: 4px !important;
	border-color: transparent !important;
	background-color: -moz-accent-color !important;
}


#customization-reset-button{
	color: #fff !important;
	border-radius: 4px !important;
	border-color: #313131 !important;
	background-color: #2a2a2a !important;
}

#customization-reset-button:is(:active, :hover):not([disabled]) {
	background-color: #313131 !important;
}

#customization-toolbar-visibility-button {
	color: #fff !important;
	border-radius: 4px !important;
	border-color: #313131 !important;
	background-color: #2a2a2a !important;
}

#customization-toolbar-visibility-button:is(:active, :hover):not([disabled]) {
	background-color: #313131 !important;
}

#customization-uidensity-button{
	color: #fff !important;
	border-radius: 4px !important;
	border-color: #313131 !important;
	background-color: #2a2a2a !important;
}

#customization-uidensity-button:is(:active, :hover):not([disabled]) {
	background-color: #313131 !important;
}

#customization-undo-reset-button{
	color: #fff !important;
	border-radius: 4px !important;
	border-color: #313131 !important;
	background-color: #2a2a2a !important;
}

#customization-undo-reset-button:is(:active, :hover):not([disabled]) {
	background-color: #313131 !important;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■ ultra compact mode ■■■■■■■■■■■■■■■■■■■■■■■■■■*/

:root {/*
	/* reduce tab margin */
	--tab-block-margin: 3px 3px !important;
}



/*newtab icon padding fix for ultra compact mode*/
#TabsToolbar{ --toolbarbutton*/-inner-padding: 4px !important; }

/* Searchbar */
#urlbar-container, 
#search-container {
	padding-block: 0 !important;
}

#urlbar-background,#urlbar{ 
	
	border-radius: 4px !important;
	border: transparent !important;
}
/*------------------------------------*/


/*message infobar*/
.container.infobar::before {
	background-image: var(--theme-gradient-full-opacity) !important;
}

.close{
	transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;	
}
.close:hover {
	fill: #FF0000 !important;	
}

.container.infobar {
	background: #313131 !important;
}


@-moz-document url("chrome://global/content/commonDialog.xhtml"){
	
	.dialog-content-box {
		background-color: #101010 !important;
	}

	#commonDialog {
		background-color: #101010 !important;

	}

	.titleIcon {
		background-color: transparent !important;
	}
}

@-moz-document url("chrome://mozapps/content/handling/permissionDialog.xhtml"),
url("chrome://mozapps/content/handling/appChooser.xhtml") {
	.dialog-content-box {
		background-color: #101010 !important;
	}

	#handling {
		background-color: #101010 !important;
	}

	richlistitem {
		border-radius: 4px !important;
		margin-top: 4px !important;
		margin-bottom: 4px !important;
		margin-left: 4px !important;
		margin-right: 4px !important;


	}

}

/* HTML5 dark mode web notifs */
@-moz-document url("chrome://global/content/alerts/alert.xhtml") {
	#alertBox {
		border-color: rgb(48, 48, 48, .4) !important;
		border-radius: 4px !important;
		background-color: #101010 !important;
		color: rgba(bright-menu-color, 0.8) !important;
	}

	#alertSourceLabel {
		color: var(--darker-menu-color) !important;
		
		/*proton color: rgb(5,209,241)*/
	}

	#alertSettings {
		-moz-context-properties: fill, fill-opacity !important;
		padding: 3px !important;
		margin: 0px 2px -3px 0px !important;
		color: inherit !important;
		border-radius: 4px !important;
		transform: scale(0.91, 0.91) !important;
	}

	#alertSettings:hover,	#alertSettings[open] {
		background-color: #313131 !important; 
	}

	menupopup {
		
		--panel-color: rgba(bright-menu-color, 0.8) !important;
		--panel-border-color: rgb(48, 48, 48) !important;
		--panel-background: #101010 !important;
		--menuitem-hover-background-color: #313131 !important;	 
		--menuitem-disabled-hover-background-color: #1f1f1f !important;										
		--menu-color: rgba(bright-menu-color, 0.8) !important;																													 
		--menu-disabled-color:color-mix(in srgb, #101010 65%, rgb(bright-menu-color))!important; 
		--menu-border-color: var(--panel-separator-color,Field) !important;
	}
	
	#alertImage {
		border-radius: 4px !important;
	}

}

/*confirmation notifs- tab sent, bookmark added...*/
#confirmation-hint {
	--arrowpanel-background: var(--darker-menu-color) !important;
	--arrowpanel-border-color: var(--darker-menu-color) !important;
}

/*titlebar min max close buttons*/
.titlebar-buttonbox-container .titlebar-button .toolbarbutton-icon {
	stroke: var(--darker-menu-color);
}

.titlebar-buttonbox-container .titlebar-button.titlebar-close .toolbarbutton-icon {
	stroke: #00DDFF;
}

.titlebar-buttonbox-container .titlebar-button.titlebar-close:hover .toolbarbutton-icon {
	stroke: #ffffff;
}

/* prevent white flash during page load */
@-moz-document url(chrome://browser/content/browser.xhtml)
{

	#main-window,
	browser[type="content-primary"],
	browser[type="content"],
	tabbrowser#content,
	#content,
	browser[type="content"] > html
	{
		background: #000000 !important;
	}

}



/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/curved_tabs.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes tabs more curvy
 * Set svg.context-properties.content.enabled to true in about:config, 
 * otherwise the bottom corners will be black
 */
 #tabbrowser-tabs{
 	--uc-tab-curve-size: 2px; /* 10px looks about like chromium - 17px looks close to Australis tabs */
 	--uc-tabs-scrollbutton-border: 4px;
 	--tab-block-margin:0px;
 	--uc-tab-line-color: rgb(10, 132, 255); /* This is only used when the first optional section is enabled, see below */
 	--uc-curve-stroke-opacity: 1; /* can be used to decrease curve border contrast */
 }

 .tabbrowser-tab{
 	padding-inline: 0px !important; /* By default, proton tabs have 2px + 2px = 4px space between them */
 	overflow: visible !important;
 }



 :root[lwtheme-image] .tabbrowser-tab[selected] > .tab-stack::before,
 :root[lwtheme-image] .tabbrowser-tab[selected] > .tab-stack::after{
 	background-attachment: scroll,fixed;
 	background-size: var(--uc-tab-curve-size),auto;
 }
 :root[lwtheme-image] .tabbrowser-tab[selected] > .tab-stack::after{
 	background-position-y: bottom,calc(var(--tab-min-height) - 1px);
 }

 .tabbrowser-tab[selected] > .tab-stack::before,
 .tabbrowser-tab[selected] > .tab-stack::after{
 	fill: var(--tab-selected-bgcolor,var(--toolbar-bgcolor)) !important;
 	stroke: var(--lwt-tabs-border-color,transparent);
 }

 .tabbrowser-tab[selected] > .tab-stack:-moz-lwtheme::before,
 .tabbrowser-tab[selected] > .tab-stack:-moz-lwtheme::after{
 	fill: var(--lwt-selected-tab-background-color,var(--toolbar-bgcolor)) !important;
 }
 .tabbrowser-tab[selected] > .tab-stack::after,
 .tabbrowser-tab:hover > .tab-stack::after{
 	left: auto;
 	right: calc(0px - var(--uc-tab-curve-size));
 	transform: scaleX(-1);
 }

 .tabbrowser-tab:hover > stack > .tab-background,
 .tab-background[selected]{
 	border-radius: var(--uc-tab-curve-size) var(--uc-tab-curve-size) 0 0 !important;
 }

 #tabbrowser-tabs:not([positionpinnedtabs]) .tabbrowser-tab:first-child,
 #tabbrowser-tabs[positionpinnedtabs] .tabbrowser-tab[pinned]+.tabbrowser-tab:not([pinned]){ 
 	margin-inline-start: var(--uc-tab-curve-size) !important;
 }

 #scrollbutton-up,
 #scrollbutton-down{ border-block-width: var(--uc-tabs-scrollbutton-border,0px) !important; }
 .tab-background[selected]{ border: 1px solid var(--lwt-tabs-border-color) !important; border-bottom: none !important }

 .tab-context-line{
 	-moz-box-ordinal-group: 2;
 	margin-block: 0 !important;
 }




















/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/shrinking_pinned_tabs.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes pinned tab width shrink dynamically, similar to unpinned tab width. */

#tabbrowser-arrowscrollbox:not([overflowing]) .tabbrowser-tab[pinned] {
	flex-grow: 10;
	-moz-box-flex: 10;
	max-width: 40px;
}

:root[uidensity="compact"] #tabbrowser-arrowscrollbox:not([overflowing]) .tabbrowser-tab[pinned] {
	max-width: 32px 
}

#tabbrowser-arrowscrollbox:not([overflowing]) .tab-content[pinned] {
	padding: 0px !important;
	-moz-box-pack: center; /* Fx <112 compatibility */
	justify-content: center;
}

.tab-label-container[pinned] {
	display: none;
}

/* Fixes flicker glitch. */
scrollbox[part][orient="horizontal"] {
	padding-inline: unset !important;
}






/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/tab_separator_lines.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Bring back tab separator lines that were removed in Proton */

.tabbrowser-tab{
	border-inline-start: 1px solid transparent !important;
	border-image: 0 1 linear-gradient(
		transparent 20%,
		color-mix(in srgb, #ff00f9 20%, transparent) 0%,
		color-mix(in srgb, #ff00f9 50%, transparent) 100%
		) !important;
}

.tabbrowser-tab:hover,
#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:hover + .tabbrowser-tab:not([first-visible-unpinned-tab]),
.tabbrowser-tab:first-child,
.tabbrowser-tab[selected],
.tabbrowser-tab[multiselected],
#tabbrowser-arrowscrollbox[overflowing] > .tabbrowser-tab[first-visible-unpinned-tab],
#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab[multiselected] + .tabbrowser-tab,
#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab[selected] + .tabbrowser-tab { border-image: none !important; }